html {

  background-color:#F4F4E1;
font-family: 'Raleway', sans-serif;


}

body {


}

#map {
    height: 40vh;
    min-height: 300px;
    position: fixed;
    top: 0;
    left:0;
    right:0;
    z-index: 4;
}

article {
    margin-top: 40vh;
    margin-left: 150px;
    margin-right: 150px;
    padding: 0;
}

.controls{
  text-align: center;

}

.btn {
    background: none;
    border: none;
    color: black;
    font-family: inherit;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    outline: 0;
}


.btn-primary {


}
