html {

  background-color:#F4F4E1;
font-family: 'Raleway', sans-serif;


}

body {


}

#map {
  height: 100vh;
  width: 50%;
  float: left;
  position: fixed;
  top:0;
  left:0;
  z-index: 4;
}

h1 {
      font-family: 'Raleway', sans-serif;
      font-size: 100%;
      text-transform: uppercase;
}

article {
    margin-left: 52%;
    margin-right: 2%;
}

.controls{
  text-align: center;

}

.btn {
    background: none;
    border: none;
    color: black;
    font-family: inherit;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    outline: 0;
}


.btn-primary {


}
