---
layout: default
---
<article>
    <div id="map"></div>
    <h1><em>{{ page.title }}</em>{% if page.subtitle %} {{ page.subtitle }}{% endif %}</h1>
    {{ content }}
</article>

{% capture location_data %}{{ page.data }}-locations{% endcapture %}
{% capture track_data %}{{ page.data }}-tracks{% endcapture %}
{% assign rows = site.data[track_data] %}
{% if rows %}
{% capture tracks_string %}{% for row in rows %}{% capture current_word %}{{ row.track }}{% endcapture %}{% if current_word == saved_word %}{% else %}{{ row.track }},{% endif %}{% capture saved_word %}{{ current_word }}{% endcapture %}{% endfor %}{% endcapture %}
{% assign tracks_array = tracks_string | split: ","%}
<script>
{% for track in tracks_array %}
var {{ track }} = [
    {% for row in rows %}{% if row.track == track %}{
        start: '{{ row.start }}',
        stop: '{{ row.stop }}',
        id: '{{ row.id }}'
    }{% if forloop.last == false %},{% endif %}
    {% endif %}{% endfor %}
  ];
{% endfor %}
</script>
{% endif %}
<script>
var locationData = [{% for row in site.data[location_data] %}{
  "type": "Feature",
  "properties": {
    "identifier": "{{row.id}}",
    "name": "{{row.name}}",
    "description": "{{row.description}}",
    "image": "{{row.image}}"
  },
  "geometry": {
    "type": "Point",
    "coordinates": [{{row.coordinates}}]
  }
}{% if forloop.last == false %},{% endif %}
{% endfor %}];

L.mapbox.accessToken = '{{ site.mapbox.accessToken }}';

var map = L.mapbox.map('map', 'mapbox.outdoors').setView([40,-100],4);
var mapLocations = L.geoJSON(locationData, {
      onEachFeature: onEachFeature
    }).addTo(map);
map.fitBounds(mapLocations.getBounds(),{padding:[10,10]});

function onEachFeature(feature, layer) {
  if (feature.properties.name && feature.properties.description) {
    console.log(feature.properties);
    var content = '<h2>' + feature.properties.name + '</h2>' + '<p>' + feature.properties.description + '</p>';
    if (feature.properties.image) {
      content = content + '<img src="{{ site.baseurl }}/assets/images/'+feature.properties.image+'" alt="">';
    }
    layer.bindPopup(content);
  }
}
function openLocationPopup(locationId) {
    mapLocations.eachLayer(function(layer) {
        //console.log(marker.feature.properties.identifier);
        if (layer.feature.properties.identifier === locationId) {
            layer.openPopup();
            map.setView([layer.getLatLng().lat,layer.getLatLng().lng], 7);
        }
    });
}

// Audio players
var players = document.querySelectorAll('.wavesurfer');
players.forEach(function(player,index) {
    playerTracks = player.getAttribute('data-tracks');
    createWaveSurfer(player, window[playerTracks]);
});

function createWaveSurfer(player, playerTracks) {
  var playButton = player.querySelector('.play'),
      toggleButton = player.querySelector('.mute'),
      audioFilePath = player.getAttribute('data-audio-file'),
      wavesurfer = WaveSurfer.create({
          container: '#'+player.id+' .waveform',
          waveColor: 'violet',
          progressColor: 'purple',
          interact: true,
          cursorWidth: 1
      });
  wavesurfer.load(audioFilePath);
  wavesurfer.on('ready', function() {
      playButton.onclick = function() {
        wavesurfer.playPause();
      };
      toggleButton.onclick = function() {
        wavesurfer.toggleMute();
      };
    });
  wavesurfer.on('audioprocess', function() {
        currentTime = wavesurfer.getCurrentTime();
        currentTime = Math.trunc(currentTime);
        for( var i in playerTracks) {
            startTime = playerTracks[i].start;
            stopTime = playerTracks[i].stop;
            locationId = playerTracks[i].id;
            if (startTime == currentTime) {
                openLocationPopup(locationId);
            }
        }
    });
}
</script>
